//-
  Open vMonitor is a WEB-based tool for monitoring and troubleshooting Open vSwitch
  Copyright (C) 2014-2016  PLVision
  Ihor Chumak, Roman Gotsiy

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

  PLVision, developers@plvision.eu

extends ../general_table
include ../include/mixins

block tablecontent
  .row
    .col-lg-12
      h1.page-header #{title}
  ul.nav.nav-tabs(role='tablist')
    li.active
      a(href='#plates', role='tab', data-toggle='tab') Tiles view
    li
      a(href='#table', role='tab', data-toggle='tab') Table view
  div.tab-content
    div#plates.tab-pane.active(style="padding-top:10px;")
      .row
        .col-lg-6
          - ports_general_info_cols = { "name" : {"caption" : "Port name"}, "vlan_mode" : {"caption" : "VLAN mode"}, "trunks": { "caption": "Trunks"}, "tag" : {"caption": "Tag"}, "lacp" : {"caption" : "LACP"}, "mac" : {"caption" : "MAC"} }
          .panel.panel-info
            .panel-heading
              strong General info
            .panel-body
              div.table-wrapper
                table.table.table-bordered.data-table
                  thead
                    tr
                      each col_detail, col in ports_general_info_cols
                        th #{col_detail.caption}
                  tbody
                    each port, idx in data
                      tr
                        each col_detail, col in ports_general_info_cols
                          td
                            +display_complex_data(port[col], col_detail.caption)
        .col-lg-6
          .panel.panel-info
            - port_interfaces = additional_data.interfaces
            .panel-heading
              strong Interfaces of ports
            .panel-body
              div.table-wrapper
                table.table.table-bordered.data-table
                  thead
                    tr
                      th Port
                      th Interfaces
                  tbody
                    each port, idx in data
                      tr
                        td #{port.name}
                        td
                          +comma_separated_uuids_links(port.interfaces)
      .row
        .col-lg-6
          .panel.panel-info
            .panel-heading
              strong Ports statistics
            .panel-body
              div.scrollbar
                table.table#port_stats.stats-table

    div#table.tab-pane
      .table-wrapper
        include ../include/htable_inc

    script.
      $(document).ready(function() {
        display_port_stats("#port_stats");
      });
